$red-uni: #A71931;
$violet-uni: #6A1F7C;
$blue-uni: #1B0E53;
$orange-uni: #F05A1A;
$orange-soft-uni: #FF6600;
$yellow-uni: #FFA509;
$orange-gradient: linear-gradient(180deg, #E7230A 0%, rgba(231, 35, 10, 0) 100%), #F05A1A;;

.tribe-events-list .tribe-events-loop .tribe-event-featured {
    background:#ff6600;
}

body {
    overflow-x: hidden;
}

header#header {
    display: none;
}

.custom-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
    margin-top: -120px;
    * {
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
    }
    ul {
        display: flex;
        li {
            margin: 0 30px;
            transition: .5s ease all;
            &:hover {
                transform: translateY(-10px);
            }
            a {
                color: #878787;
                text-transform: uppercase;            
                font-family: Asap;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;

            }
            .highlight {
                color: $orange-soft-uni;
            }
        }
    }
}

main.template-page.content.av-content-full.alpha.units {
    padding-top: 0;
}

.unipanamericana-microsite { 
    background: #F9F9F9;
    padding-bottom: 200px;
    .border-violet {
        border-color: #1B0E53;
    }
    .border-orange {
        border-color: #FF6600;
    }
    .border-red {
        border-color: #A71931;
    }
    .border-purple {
        border-color: #6A1F7C;
    }
    button br{
        display: none;
    }
    a {
        br {
            display: none;
        }
    }
    ul {
        padding-left: 15px;
        li {
            list-style: none;
            position: relative;
            box-sizing: border-box;
            &:after {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #A71931;
                left: -15px;
                top: 6px;
            }
            p {
                margin: 0 !important;
            }
        }
    }
    ol li p {
        margin: 0 !important;
    }
    .view-more {
        display: flex;
    }
    .primary-button {
        &:focus,
        &:active {
            outline: none;
        }
        &:hover {
            //transform: translateY(-10px);
        }
    }

    .heading {
        font-family: Asap;
        font-weight: 700;
        color: #000000;
        letter-spacing: 0 !important;
        &--master {
            font-size: 45px;
            line-height: 52px;
            text-transform: none;
        }
        &--1 {
            text-transform: uppercase;
            font-size: 22px;
            line-height: 25px;
        }
        &--2 {
            font-size: 17px;
            text-transform: uppercase;
        }
        &--3 {
            font-size: 22px;
            line-height: 25px;
        }
        &--special {
            font-size: 22px;
            line-height: 25px;
            color: $orange-soft-uni;
        }
    }

    p {
        font-family: Roboto;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #636363;
    }
    
    .primary-button,
    .secondary-button {
        text-decoration: none;
        > p {
            font-family: Asap;
            font-weight: bold;
            font-size: 22px;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 1s ease;
            width: fit-content;
            &:hover {
                transform: translateY(-10px);
            }
        }
    }

    .primary-button {
        > p {
            background: #FF6600;
            border-radius: 50px;
            padding: 20px 70px;
            box-shadow: 4px 13px 20px rgba(240, 90, 26, 0.5);
            color: #FFFFFF;
            text-shadow: 1px -1px 0px rgba(0, 0, 0, 0.35);
        }
    }

    .secondary-button {
        > p {
            background: #FFFFFF;
            border-radius: 7px;
            padding: 15px 100px;
            box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
            color: #FF6600;
            text-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
        }
        &--version2 p {
            background: transparent;
            border: 2px solid white;
            color: white;
        }
    }
    .section-container {
        &__heading {
            position: relative;
            &__title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                > .heading--2 {
                    padding-left: 15px;
                    border-left-width: 2px;
                    border-left-style: solid;
                    margin-bottom: 35px;
                }
                .view-more {
                    button {
                        transition: .3s ease all;
                        cursor: pointer;
                        border: none;
                        background: transparent;
                        padding: 10px;
                        &:hover {
                            transform: translateY(-10px);
                        }
                    }
                }
            }
            > p {
                margin: 0;
            }
        }
    }

    .overflowed {
        &.section-container {
            &__content {
                display: flex;
                overflow: hidden;
                flex-direction: row;
                > * {
                    flex-shrink: 0;
                }
            }
        }
    }

    .outer-button-container{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        p {
            min-width: 340px;
        }
    }

    .custom-dropdrowns {
        padding: 0 50px;
        cursor: pointer;
        &:hover {
            .dropdown-toogler .button-placeholder {
                transform: translateY(-10px);
            }
        }
        &.active  {
            .custom-dropdrowns__container {
                padding-bottom: 30px;
                opacity: 1;
                height: auto;
                display: block;
            }
        }
        &__title {
            font-weight: bold;
            text-transform: uppercase;
            padding: 30px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            h5 {
                margin: 0;
                font-weight: bold;
                text-transform: uppercase;
                padding: 30px 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-size: 18px !important;
            }
        }
        .custom-dropdrowns__container {
            opacity: 0;
            height: 0;
            display: none;
            padding: 0 40px;
        }
        .dropdown-toogler {
            .button-placeholder {
                width: 45px;
                height: 45px;
                position: relative;
                border: none;
                transition: 1s ease all;
            }
        }
    }

    .custom-dropdrowns {
        &--red {
            .custom-dropdrowns__title {
                color: #A71931 !important;
            }
            .dropdown-toogler .button-placeholder {
                background: #A71931;
                box-shadow: 4px 13px 20px rgba(167, 25, 49, 0.4);
            }
            &:before {
                background: #A71931;
            }
        }
        &--blue {
            .custom-dropdrowns__title {
                color: #1B0E53 !important;
            }
            .dropdown-toogler .button-placeholder {
                background: #1B0F53;
                box-shadow: 4px 13px 20px rgba(27, 15, 83, 0.4)
            }
            &:before {
                background: #1B0F53;
            }
        }
        
        &--1 {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 124.49%, rgba(0, 0, 0, 0.47) 174.27%), #FFFFFF;
            background-blend-mode: soft-light, normal;
            box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
            margin: 15px 0;
            position: relative;
            border-radius: 10px;
            &:before {
                content: '';
                width: 100%;
                height: 10px;
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 0 0 10px 10px;
            }
            
            &.active  {
                .dropdown-toogler .button-placeholder:before {
                    display: none;
                }
            }
            .custom-dropdrowns__title {
                font-family: Asap;
                font-size: 22px;    
            }
            .dropdown-toogler .button-placeholder{
                border-radius: 50%;
                &:hover {
                    transform: none;
                }
                &:after,
                &:before {
                    content: '';
                    width: 20px;
                    height: 5px;
                    border-radius: 5px;
                    background: white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
                &:after {
                    transform: translateY(-50%) translateX(-50%);
                }
                &:before {
                    transform: translateY(-50%) translateX(-50%) rotate(90deg);
                }
            }
        }
        &--2 {
            border-bottom: 2px solid #D1D1D1;
            border-top: 2px solid #D1D1D1;
            margin-top: -2px;
            &:hover {
                .dropdown-toogler .button-placeholder {
                    transform: translateY(10px);
                }
            }
            &.active {
                &:hover {
                    .dropdown-toogler .button-placeholder {
                        transform: translateY(-10px);
                    }
                }
                .custom-dropdrowns__container {
                    padding-bottom: 30px;
                    padding-left: 40px;
                }
                .dropdown-toogler .button-placeholder {
                    &:after,
                    &:before { 
                        background: #B47BC1;
                    }
                    &:after {
                        transform: translateY(-50%) translateX(calc(50% - 6px)) rotate(135deg);
                    }
                    &:before {
                        transform: translateY(-50%) translateX(calc(50% + 6px)) rotate(45deg);
                    }
                }
            }
            .custom-dropdrowns__title {
                h5 {
                    font-family: Roboto;
                    font-size: 16px;        
                    color: #000000;
                    text-align: left;
                    width: 100%;
                    padding-left: 20px;
                }
                .icon {
                    width: 25px;
                    height: 25px;
                    margin-left: -15px;
                    margin-right: 10px;
                    border: #6A1F7C 3px solid;
                    border-radius: 50%;
                    position: relative;
                    flex-shrink: 0;
                    &:after,
                    &:before {
                        content: '';
                        background: #6A1F7C;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 3px;
                    }
                    &:after {
                        height: 7px;
                        transform: translateY(calc(-50% + 3px)) translateX(calc(-50%));
                    }
                    &:before {
                        height: 3px;
                        transform: translateY(calc(-50% - 4px)) translateX(calc(-50%));
                    }
                }
            }
            .dropdown-toogler .button-placeholder {
                &:after,
                &:before {
                    content: '';
                    width: 20px;
                    height: 5px;
                    border-radius: 5px;
                    background: #6A1F7C;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                }
                &:after {
                    transform: translateY(-50%) translateX(calc(50% + 6px)) rotate(135deg);
                }
                &:before {
                    transform: translateY(-50%) translateX(calc(50% - 6px)) rotate(45deg);
                }
            }
        }
        &--3 {
            box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
            background: #FDFDFD;
            border-radius: 10px;
            padding: 0;
            margin-bottom: 30px;

            .custom-dropdrowns__title {
                padding: 0;
                align-items: flex-start;
                position: relative;
                &__img-container {
                    width: 50%;
                    height: 340px;
                    background-size: cover;
                    background-position: right;
                    border-radius: 10px 0 0 10px;
                    position: relative;
                    &:after {
                        content: '';
                        width: 100%;
                        height: 10px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        border-radius: 0 0 0 10px;
                        background: black;
                    }
                }
                &__heading {
                    width: 50%;
                    height: 100%;
                    padding: 20px 60px;
                    padding-bottom: 0;
                    box-sizing: border-box;
                    .heading {
                        height: 165px;
                        border-bottom: 1px solid #E4E4E4;
                        display: flex;
                        align-items: center;
                    }
                    p:not(.heading) {
                        text-transform: none;
                        margin: 20px 0;
                    }
                    .dropdown-toogler {
                        position: absolute;
                        bottom: 5px;
                        right: 25%;
                        .button-placeholder {
                            text-align: center;
                            &:after,
                            &:before {
                                content: '';
                                width: 20px;
                                height: 3px;
                                border-radius: 5px;
                                background: $orange-uni;
                                position: absolute;
                                left: 50%;
                                top: 50%;
                            }
                            &:after {
                                transform: translateY(-50%) translateX(calc(50% + 6px)) rotate(135deg);
                            }
                            &:before {
                                transform: translateY(-50%) translateX(calc(50% - 6px)) rotate(45deg);
                            }
                        }
                    } 
                }
                &__icon {
                    position: absolute;
                    right: calc(-85px / 2);
                    top: 50%;
                    transform: translateY(-50%);
                    background: #FDFDFD;
                    width: 85px;
                    height: 85px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    &__container {
                       width: 60px;
                       height: 60px;
                       display: flex;
                       align-items: center;
                       justify-content: center;
                       border-radius: 50%;
                       padding: 15px;
                       box-sizing: border-box;
                       img {
                           width: 100%;
                       }
                    }
                }
            }

            .custom-dropdrowns__container {
                margin-top: 50px;
                a {
                    text-decoration: none;
                    color: $orange-soft-uni;
                }
                em {
                    font-style: normal;
                    color: $orange-soft-uni;
                }
                .heading--2 {
                    margin: 40px 0;
                }

                .heading--1 {
                    padding-bottom: 30px;
                    border-bottom: #E4E4E4 solid 1px;
                }
                ul li {
                    margin-bottom: 20px;
                    p {
                        margin: 0 !important;
                    }
                }
                b, strong {
                    color: $orange-soft-uni !important;
                }
                ul li:after {
                    background: $orange-soft-uni;
                }
                ol li::marker {
                    color: $orange-soft-uni;
                    font-weight: bold;
                    font-size: 16px;
                
                }
                .special-text p {
                    color: $orange-soft-uni;
                    margin: 20px 0;
                }
                .entities-logos {
                    display: flex;
                    flex-flow: wrap;
                    p {
                        width: 24%;
                        margin: 0;
                        img {
                            width: 100%;
                        }
                    }
                }
                .payment-brands {
                    display: flex;
                    align-items: center;
                }
                .banks-block {
                    .heading {
                        margin-bottom: 10px !important;
                        color: $orange-soft-uni;
                    }
                    p:not(.heading) {
                        margin: 0;
                    }
                }
                &--col-2 {
                    display: flex;
                    
                    &__column {
                        flex: 1;
                        padding: 0 30px;
                    }
                }
                &--col-1 {
                    padding: 0 30px;
                }
                &__footer {
                    margin-top: 30px;
                    border-top: #E4E4E4 1px solid;
                    padding-top: 30px;
                    text-align: center;
                    p.special-text {
                        color: $orange-soft-uni;
                    }
                }
            }
            &--rtl {
                .custom-dropdrowns__title {
                    flex-direction: row-reverse;
                    &__img-container {
                        border-radius: 0 10px 10px 0;
                        &:after {
                            border-radius: 0 0 10px 0;
                        }
                    }
                }
                .custom-dropdrowns__title__icon {
                    right: unset;
                    left: calc(-85px / 2);
                }
                .dropdown-toogler {
                    right: unset;
                    left: calc(25% - 50px)
                }
            }
            &--red {
                .custom-dropdrowns__title__icon__container {
                    background: $red-uni;
                    box-shadow: 4px 13px 20px rgba(167, 25, 49, 0.4);
                }
                .custom-dropdrowns__title {
                    &__img-container {
                        &:after {
                            background: $red-uni;
                        }
                    }
                }
            }
            &--purple {
                .custom-dropdrowns__title__icon__container {
                    background: $violet-uni;
                    box-shadow: 4px 13px 20px #CB7EDE;
                }
                .custom-dropdrowns__title {
                    &__img-container {
                        &:after {
                            background: $violet-uni;
                        }
                    }
                }
            }
            &--blue {
                .custom-dropdrowns__title__icon__container {
                    background: $blue-uni;
                    box-shadow: 4px 13px 20px rgba(27, 15, 83, 0.4);
                }
                .custom-dropdrowns__title {
                    &__img-container {
                        &:after {
                            background: $blue-uni;
                        }
                    }
                }
            }
            &--orange {
                .custom-dropdrowns__title__icon__container {
                    background: $orange-gradient;
                    box-shadow: 4px 13px 20px rgba(240, 90, 26, 0.5);
                }
                .custom-dropdrowns__title {
                    &__img-container {
                        &:after {
                            background: $orange-soft-uni;
                        }
                    }
                }
            }
            &--yellow {
                .custom-dropdrowns__title__icon__container {
                    background: $yellow-uni;
                    box-shadow: 4px 13px 20px rgba(167, 25, 49, 0.4);
                }
                .custom-dropdrowns__title {
                    &__img-container {
                        &:after {
                            background: $yellow-uni;
                        }
                    }
                }
            }
            &.active {
                &:hover {
                    .dropdown-toogler .button-placeholder {
                        transform: translateY(-10px);
                    }
                }

                .dropdown-toogler .button-placeholder {
                    &:after {
                        transform: translateY(-50%) translateX(calc(50% - 6px)) rotate(135deg);
                    }
                    &:before {
                        transform: translateY(-50%) translateX(calc(50% + 6px)) rotate(45deg);
                    }
                }
            }
            &:hover {
                .dropdown-toogler .button-placeholder {
                    transform: translateY(10px);
                }
            }
        }
    }

    .custom-table {
        &__header {
            background: #1B0F53;
            p {
                color: white;
                padding: 10px 50px 20px;
                font-family: Roboto;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 0;
            }
        }
        table {
            width: 100%;
            thead,
            tbody {
                tr th:last-child {
                    text-align: right;
                    padding-right: 80px;
                }
                tr th:first-child {
                    padding-left: 80px;
                }
            }
            thead tr {
                background: #F4F4F4;
                th {
                    font-family: Roboto;
                    font-weight: bold;
                    padding: 15px 0;
                    font-size: 16px;
                    color: #1B0F53;
                    text-align: left;
                    text-transform: uppercase;
                    letter-spacing: normal;
                    border-width: 0;
                }
            }
            tbody {
                tr {
                    &:nth-child(2n) {
                        background: #F4F4F4;
                    }
                    th {
                        font-family: Roboto;
                        font-weight: normal;
                        padding: 15px 0;
                        font-size: 16px;
                        color: #636363;
                        width: 22% !important;
                        text-align: left;
                        text-transform: inherit;
                        letter-spacing: normal;
                        border-width: 0;
                        &:first-child {
                            font-family: Asap;
                            font-size: 14px;
                            font-weight: bold;
                            text-transform: uppercase;
                            width: 56% !important;
                        }
                        
                    }
                } 
            }
        }
    }

    .table-dropdown {
        .custom-dropdrowns__container {
            padding: 0;
            margin: 0 -50px 0 -50px;
        }
    }

    // Specific styles for home page

    .main-banner-button-container .primary-button p{
        margin-top: -40px;
        position: relative;
        margin-bottom: 70px;
    }
    
    .help-section {
        margin-bottom: 60px;
        h2 {
            color: #FF6600;
        }

        .help-bubble {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.47) 100%), #F05A1A;
            background-blend-mode: soft-light, normal;
            box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
            border-radius: 100px;
            padding: 30px 70px;
            padding-left: 50px;
            position: relative;
            max-width: 1440px;
            &__icon {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 40px;
                background: linear-gradient(180deg,  rgba(239,85,22,1) 0%, rgba(237,68,8,1) 100%);
                background-blend-mode: soft-light, normal;
                border-radius: 100px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__container {
                display: flex;
                align-items: center;
                &__content{
                    font-family: Asap;
                    font-size: 22px;
                    line-height: 25px;
                    color: #FFFFFF;
                    padding-right: 50px;
                    padding-left: 90px;
                    strong {
                        color: white
                    }
                }
                &__actions {
                    flex-shrink: 0;
                }
            }
            &--financiera {
                margin-top: 20px;
                .help-bubble__container__actions {
                    display: flex;
                    flex-direction: row;
                    width: fit-content;
                    min-width: unset;
                }
                .secondary-button p {
                    text-transform: none;
                    padding: 15px 25px;
                    margin-right: 20px;
                }
            }
        }
        
    }

    .offer-section {
        .overflowed {
            padding: 130px 0 80px 0;
            margin-top: -100px;
            .offer-item {
                margin-right: 30px;
                flex-shrink: 0;
                width: 300px;
                transition: .4s cubic-bezier(0.67, -0.01, 0.43, 1) all;
                img {
                    border-radius: 10px;
                    width: 100%;
                    filter: drop-shadow(13px 28px 80px rgba(67, 67, 67, 0.15));
                    padding-bottom: 10px;
                    background: #6A1F7C;
                }
                &__content {
                    p {
                        margin-top: 30px;
                    }
                }
            }
        }
    }

    .steps-section {
        margin-bottom: 90px;
        .overflowed {
            padding: 90px 0;
            .overflowed-item {
                background: white;
                width: 340px;
                margin-right: 40px;
                padding: 30px 30px 20px;
                box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
                border-radius: 10px;
                position: relative;
                min-height: 450px;
                display: flex;
                flex-direction: column;
                transition: 1s ease all;
                box-sizing: border-box;
                &:hover {
                    transform: translateY(-10px);
                }
                &:after {
                    content: '';
                        width: 100%;
                        bottom: 0;
                        background: #A71931;
                        height: 10px;
                        position: absolute;
                        left: 0;
                        border-radius: 0 0 10px 10px;
                }
                em {
                    font-style: normal;
                    color: #A71931;
                }
                &__icon {
                    text-align: center;
                    background: #A71931;
                    width: 70px;
                    height: 70px;
                    margin: 0 auto;
                    margin-top: -65px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #FDFDFD;
                    font-family: Asap;
                    font-weight: bold;
                    font-size: 32px;
                    border-radius: 100px;
                    box-shadow: 4px 13px 20px rgba(167, 25, 49, 0.4);
                    margin-bottom: 30px;
                }
                &__content {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    .heading {
                        border-bottom: 1px solid #E4E4E4;
                        margin-bottom: 30px;
                        padding-bottom: 30px;
                    }
                    p {
                        line-height: 140%;
                    }
                    a {
                        text-decoration: none;
                        color: #A71931;
                    }
                    ul {
                        li {
                            a {
                                text-decoration: underline;
                                font-family: Roboto;
                                font-size: 16px;
                            }
                        }
                    }
                    &__text {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        flex: 1;
                        &__text-container {
                            flex: 1;
                        }
                    }
                }
                .actions {
                    text-align: right;
                    font-family: Roboto;
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .documents-zone {
        display: flex;
        &__column {
            &:first-child {
                flex: 1;
            }
            &:last-child {
                flex: 2;
                padding-left: 40px;
                .documents-zone__content ul{
                    display: flex;
                    flex-direction: column;
                    flex-flow: wrap;
                    li {
                        margin-bottom: 20px;
                        margin-top: 0;
                        width: 50%;
                    }
                    p {
                        margin: 0;
                    }
                }
            }
        }
        .heading {
            margin-bottom: 30px;
            margin-top: 30px;
        }
        ul li {
            margin: 20px 0;
            padding-right: 40px;
        }
    }

    .financial-zone {
        position: relative;
        width: 100%;
        display: flex;
        margin-bottom: 130px;
        img {
            border-radius: 10px;
            filter: drop-shadow(13px 28px 80px rgba(67, 67, 67, 0.15));
            flex-shrink: 0;
            width: 55%;
        }
        > p {
            flex-shrink: 0;
        }
        &__content {
            padding: 0;
            padding-left: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .heading {
                margin-bottom: 40px;
                padding: 0;
            }
            .primary-button {
                align-self: flex-end;
            }
        }
    }

    .homologation {
        margin-bottom: 100px;
        .custom-dropdrowns {
            &.active {
                .custom-dropdrowns__snippet {
                    display: none;
                }
            }
            &__title {
                h5 {
                    text-transform: none;
                }
            }
            &__snippet {
                padding: 0 40px 20px;
            }
            .heading {
                margin: 40px 0;
            }
            .heading:first-child {
                margin-top: 0;
            }
            &__container {
                ul {
                    padding-left: 20px;
                    li:after {
                        background: #1A0F4D;
                        left: -20px;
                    }
                }
                .list-two-columns {
                    display: flex;
                    flex-direction: row;
                    padding-left: 0;
                    &__column {
                        padding-left: 20px;
                    }
                    li {
                        padding-right: 40px;
                        p {
                            margin-top: 0;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    .sena-bubble {
        margin-bottom: 130px;
        background: #FF6600;
        display: flex;
        padding: 50px 100px 20px 100px;
        &__icon {
            flex-shrink: 0;
            img {
                border-radius: 200px;
                border: 5px white solid;
            }
        }
        &__container {
            padding-left: 130px;
            .heading {
                color: white;
                padding-left: 15px;
                border-left: 2px solid white;
            }
            &__content {
                color: white;
                font-size: 22px;
                line-height: 25px;
                margin: 50px 0;
                strong {
                    color: white;
                }
            }
        }
    }

    .advantages-section {
        .overflowed {
            padding: 60px 0 120px 0;
            .card-item {
                box-sizing: border-box;
                width: 340px;
                height: 370px;
                margin-right: 25px;
                transition: 1s ease all;
                border-radius: 10px;
                background: white;
                box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
                position: relative;
                &:hover {
                    transform: translateY(-10px);
                }
                &:after {
                    content: '';
                    width: 100%;
                    height: 10px;
                    border-radius: 0 0 10px 10px;
                    background: #A71931;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                }
                img {
                    border-radius: 10px 10px 0 0;
                    width: 100%;
                }
                &__content {
                    padding: 20px 30px;
                    padding-bottom: 40px;
                    .heading {
                        margin: 0;
                        font-size: 16px;
                        em {
                            color: #A71931;
                            font-style: normal;
                        }
                    }
                }
            }
        }
    }

    .calendar {
        margin-bottom: 200px;
    }

    .faq {
        margin-bottom: 400px;
    }

    .zona-financiera {
        padding: 0 40px;
    }
    
}

@media screen and (max-width: 1200px) {
    .unipanamericana-microsite {

        .help-section {
            .help-bubble {
                &__icon {
                    top: 72px;
                }
                &__container {
                    flex-direction: column;
                    align-items: flex-end;
                }
            }
        }

        .custom-dropdrowns {
            &--3 {    
                .custom-dropdrowns__title {
                    flex-direction: column;
                    &__img-container {
                        width: 100%;
                        background-position: top;
                    }
                    &__heading {
                        width: 100%;
                        padding-bottom: 40px;
                        .heading {
                            height: auto;
                            padding: 30px 0;
                        }
                        p:not(.heading) {
                            font-size: 16px;
                        }
                        .dropdown-toogler {
                            position: initial;
                            display: flex;
                            justify-content: center;    
                        } 
                    }
                }
                .custom-dropdrowns__container {
                    margin-top: 50px;
                    a {
                        text-decoration: none;
                        color: $orange-soft-uni;
                    }
                    em {
                        font-style: normal;
                        color: $orange-soft-uni;
                    }
                    .heading--2 {
                        margin: 40px 0;
                    }
    
                    .heading--1 {
                        padding-bottom: 30px;
                        border-bottom: #E4E4E4 solid 1px;
                    }
                    ul li:after {
                        background: $orange-soft-uni;
                    }
                    .special-text p {
                        color: $orange-soft-uni;
                        margin: 20px 0;
                    }
                    .entities-logos {
                        display: flex;
                        flex-flow: wrap;
                        img {
                            width: 24%;
                        }
                    }
                    .banks-block {
                        .heading {
                            margin-bottom: 10px !important;
                            color: $orange-soft-uni;
                        }
                        p:not(.heading) {
                            margin: 0;
                        }
                    }
                    &--col-2 {
                        display: flex;
                        
                        &__column {
                            flex: 1;
                            padding: 0 30px;
                        }
                    }
                    &--col-1 {
                        padding: 0 30px;
                    }
                    &__footer {
                        margin-top: 30px;
                        border-top: #E4E4E4 1px solid;
                        padding-top: 30px;
                        text-align: center;
                        p.special-text {
                            color: $orange-soft-uni;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .unipanamericana-microsite {

        .custom-dropdrowns {
            padding: 0 20px;
            .custom-dropdrowns__container {
                padding: 0 20px;
            }
            .custom-dropdrowns__snippet {
                padding: 20px;
            }
            &--3 {    
                .custom-dropdrowns__title {
                    flex-direction: column;
                    &__img-container {
                        width: 100%;
                        background-position: top;
                    }
                    &__heading {
                        width: 100%;
                        padding-bottom: 40px;
                        .heading {
                            height: auto;
                            padding: 30px 0;
                        }
                        p:not(.heading) {
                            font-size: 16px;
                        }
                        .dropdown-toogler {
                            position: initial;
                            display: flex;
                            justify-content: center;    
                        } 
                    }
                }
                .custom-dropdrowns__container {
                    margin-top: 50px;
                    a {
                        text-decoration: none;
                        color: $orange-soft-uni;
                    }
                    em {
                        font-style: normal;
                        color: $orange-soft-uni;
                    }
                    .heading--2 {
                        margin: 40px 0;
                    }
    
                    .heading--1 {
                        padding-bottom: 30px;
                        border-bottom: #E4E4E4 solid 1px;
                    }
                    ul li:after {
                        background: $orange-soft-uni;
                    }
                    .special-text p {
                        color: $orange-soft-uni;
                        margin: 20px 0;
                    }
                    .entities-logos {
                        display: flex;
                        flex-flow: wrap;
                        img {
                            width: 24%;
                        }
                    }
                    .banks-block {
                        .heading {
                            margin-bottom: 10px !important;
                            color: $orange-soft-uni;
                        }
                        p:not(.heading) {
                            margin: 0;
                        }
                    }
                    &--col-2 {
                        display: flex;
                        
                        &__column {
                            flex: 1;
                            padding: 0 30px;
                        }
                    }
                    &--col-1 {
                        padding: 0 30px;
                    }
                    &__footer {
                        margin-top: 30px;
                        border-top: #E4E4E4 1px solid;
                        padding-top: 30px;
                        text-align: center;
                        p.special-text {
                            color: $orange-soft-uni;
                        }
                    }
                }
            }
        }

        .documents-zone {
            flex-direction: column;
            &__column {
                width: 100%;
                &:last-child {
                    padding: 0;
                }
            }
        }

        .financial-zone {
            flex-direction: column;
            align-items: center;
            img {
                width: 100%;
            }
            &__content {
                padding: 0;
            }
        }

        .sena-bubble {
            padding: 50px 50px 20px 50px;
            &__container {
                padding-left: 80px;
            }
        }

        .table-dropdown {
            .custom-dropdrowns__container {
                padding: 0;
                margin: 0 -20px 0 -20px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .unipanamericana-microsite .custom-table table tbody tr th:first-child {
        width: 40%;
    }
}

@media screen and (max-width: 700px) {
    .unipanamericana-microsite {
        .main-banner-button-container {
            display: flex;
            justify-content: center;
        }
        .help-section {
            .help-bubble {
                &__icon {
                    left: 50%;
                    transform: translateX(-50%);
                    top: 40px;
                }
                &__container {
                    flex-direction: column;
                    align-items: flex-end;
                    &__content {
                        padding-left: 0;
                        padding-top: 90px;
                        padding-right: 0;
                        text-align: center;
                    }
                }
            }
        }

        .custom-dropdrowns {
            &--3 {    
                
                .custom-dropdrowns__container {
                    &--col-2 {
                        display: flex;
                        flex-direction: column !important;
                        
                    }
                }
            }
        }

        .sena-bubble {
            flex-direction: column;
            align-items: center;
            &__container {
                padding-left: 0px;
            }
        }

        .custom-table {
            &__header {
                p {
                    padding: 10px 20px 20px;
                }
            }
            table {
                thead,
                tbody {
                    tr th:last-child {
                        padding-right: 20px;
                    }
                    tr th:first-child {
                        padding-left: 20px;
                    }
                }
                thead tr {
                    th {
                        font-size: 14px;
                    }
                }
                tbody {
                    tr {
                        th {
                            &:first-child {
                                width: 8% !important;
                                padding-right: 20px;
                            }
                            
                        }
                    } 
                }
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .unipanamericana-microsite {

        .help-section {
            .help-bubble {
                &--financiera {
                    padding-bottom: 50px;
                    .help-bubble__container__actions {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        p {
                            margin: 0;
                            margin-bottom: 20px;
                        }
                    }
                }
                
            }
        }
        .zona-financiera {
            padding: 0;
        }
        .custom-dropdrowns {
            &--3 {
                margin-bottom: 70px;
                .custom-dropdrowns__title {
                    
                    &__heading {
                        padding: 20px;
                        .heading {
                            height: auto;
                            font-size: 25px;
                            line-height: initial;
                        }
                        
                    }
                }
                .custom-dropdrowns__container {
                    
                    &--col-2 {
                        &__column {
                            padding: 0
                        }
                    }
                    &--col-1 {
                        padding: 0;
                    }
                    
                }
                .custom-dropdrowns__title__icon {
                    left: 50%;
                    right: unset;
                    transform: translateX(-50%);
                    top: calc(-85px / 2);;
                }
                &--rtl {
                    .custom-dropdrowns__title__icon {
                        left: 50% ;
                        right: unset;
                        transform: translateX(-50%);
                        top: calc(-85px / 2);;
                    }
                }
            }
        }

        .outer-button-container {
            align-items: center;
            a p {
                min-width: unset;
                padding: 20px 30px;
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .unipanamericana-microsite {
        p {
            font-size: 14px;
        }
        .secondary-button > p {
            padding: 15px 30px;
        }
        .help-section {
            .help-bubble {
                padding: 10px 20px;
                &--financiera {
                    padding-bottom: 50px;
                }
                &__icon {
                    top: 15px;
                }
                &__container {
                    align-items: center;
                    &__content {
                        font-size: 14px;
                    }
                }
            }
        }

        .custom-dropdrowns {
            padding: 0 20px;
            .custom-dropdrowns__container {
                padding: 0;
            }
            .custom-dropdrowns__snippet {
                padding: 0;
                padding-bottom: 20px;
            }
        }

        .documents-zone {
            &__column {
                &:last-child {
                    .documents-zone__content ul {
                        flex-flow: unset;
                        flex-direction: column;
                        li {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .financial-zone {
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
            img {
                width: 100%;
            }
            &__content {
                > div {
                    text-align: center;
                }
                .primary-button {
                    align-self: center;
                }
            }
        }


    }
}


