.tribe-events-list .tribe-events-loop .tribe-event-featured {
  background: #ff6600;
}

body {
  overflow-x: hidden;
}

header#header {
  display: none;
}

.custom-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -120px;
}

.custom-header * {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.custom-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.custom-header ul li {
  margin: 0 30px;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.custom-header ul li:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.custom-header ul li a {
  color: #878787;
  text-transform: uppercase;
  font-family: Asap;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.custom-header ul li .highlight {
  color: #FF6600;
}

main.template-page.content.av-content-full.alpha.units {
  padding-top: 0;
}

.unipanamericana-microsite {
  background: #F9F9F9;
  padding-bottom: 200px;
}

.unipanamericana-microsite .border-violet {
  border-color: #1B0E53;
}

.unipanamericana-microsite .border-orange {
  border-color: #FF6600;
}

.unipanamericana-microsite .border-red {
  border-color: #A71931;
}

.unipanamericana-microsite .border-purple {
  border-color: #6A1F7C;
}

.unipanamericana-microsite button br {
  display: none;
}

.unipanamericana-microsite a br {
  display: none;
}

.unipanamericana-microsite ul {
  padding-left: 15px;
}

.unipanamericana-microsite ul li {
  list-style: none;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.unipanamericana-microsite ul li:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #A71931;
  left: -15px;
  top: 6px;
}

.unipanamericana-microsite ul li p {
  margin: 0 !important;
}

.unipanamericana-microsite ol li p {
  margin: 0 !important;
}

.unipanamericana-microsite .view-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.unipanamericana-microsite .primary-button:focus, .unipanamericana-microsite .primary-button:active {
  outline: none;
}

.unipanamericana-microsite .heading {
  font-family: Asap;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0 !important;
}

.unipanamericana-microsite .heading--master {
  font-size: 45px;
  line-height: 52px;
  text-transform: none;
}

.unipanamericana-microsite .heading--1 {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 25px;
}

.unipanamericana-microsite .heading--2 {
  font-size: 17px;
  text-transform: uppercase;
}

.unipanamericana-microsite .heading--3 {
  font-size: 22px;
  line-height: 25px;
}

.unipanamericana-microsite .heading--special {
  font-size: 22px;
  line-height: 25px;
  color: #FF6600;
}

.unipanamericana-microsite p {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #636363;
}

.unipanamericana-microsite .primary-button,
.unipanamericana-microsite .secondary-button {
  text-decoration: none;
}

.unipanamericana-microsite .primary-button > p,
.unipanamericana-microsite .secondary-button > p {
  font-family: Asap;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.unipanamericana-microsite .primary-button > p:hover,
.unipanamericana-microsite .secondary-button > p:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.unipanamericana-microsite .primary-button > p {
  background: #FF6600;
  border-radius: 50px;
  padding: 20px 70px;
  -webkit-box-shadow: 4px 13px 20px rgba(240, 90, 26, 0.5);
          box-shadow: 4px 13px 20px rgba(240, 90, 26, 0.5);
  color: #FFFFFF;
  text-shadow: 1px -1px 0px rgba(0, 0, 0, 0.35);
}

.unipanamericana-microsite .secondary-button > p {
  background: #FFFFFF;
  border-radius: 7px;
  padding: 15px 100px;
  -webkit-box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
          box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
  color: #FF6600;
  text-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
}

.unipanamericana-microsite .secondary-button--version2 p {
  background: transparent;
  border: 2px solid white;
  color: white;
}

.unipanamericana-microsite .section-container__heading {
  position: relative;
}

.unipanamericana-microsite .section-container__heading__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.unipanamericana-microsite .section-container__heading__title > .heading--2 {
  padding-left: 15px;
  border-left-width: 2px;
  border-left-style: solid;
  margin-bottom: 35px;
}

.unipanamericana-microsite .section-container__heading__title .view-more button {
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 10px;
}

.unipanamericana-microsite .section-container__heading__title .view-more button:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.unipanamericana-microsite .section-container__heading > p {
  margin: 0;
}

.unipanamericana-microsite .overflowed.section-container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.unipanamericana-microsite .overflowed.section-container__content > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.unipanamericana-microsite .outer-button-container {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.unipanamericana-microsite .outer-button-container p {
  min-width: 340px;
}

.unipanamericana-microsite .custom-dropdrowns {
  padding: 0 50px;
  cursor: pointer;
}

.unipanamericana-microsite .custom-dropdrowns:hover .dropdown-toogler .button-placeholder {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.unipanamericana-microsite .custom-dropdrowns.active .custom-dropdrowns__container {
  padding-bottom: 30px;
  opacity: 1;
  height: auto;
  display: block;
}

.unipanamericana-microsite .custom-dropdrowns__title {
  font-weight: bold;
  text-transform: uppercase;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.unipanamericana-microsite .custom-dropdrowns__title h5 {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px !important;
}

.unipanamericana-microsite .custom-dropdrowns .custom-dropdrowns__container {
  opacity: 0;
  height: 0;
  display: none;
  padding: 0 40px;
}

.unipanamericana-microsite .custom-dropdrowns .dropdown-toogler .button-placeholder {
  width: 45px;
  height: 45px;
  position: relative;
  border: none;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.unipanamericana-microsite .custom-dropdrowns--red .custom-dropdrowns__title {
  color: #A71931 !important;
}

.unipanamericana-microsite .custom-dropdrowns--red .dropdown-toogler .button-placeholder {
  background: #A71931;
  -webkit-box-shadow: 4px 13px 20px rgba(167, 25, 49, 0.4);
          box-shadow: 4px 13px 20px rgba(167, 25, 49, 0.4);
}

.unipanamericana-microsite .custom-dropdrowns--red:before {
  background: #A71931;
}

.unipanamericana-microsite .custom-dropdrowns--blue .custom-dropdrowns__title {
  color: #1B0E53 !important;
}

.unipanamericana-microsite .custom-dropdrowns--blue .dropdown-toogler .button-placeholder {
  background: #1B0F53;
  -webkit-box-shadow: 4px 13px 20px rgba(27, 15, 83, 0.4);
          box-shadow: 4px 13px 20px rgba(27, 15, 83, 0.4);
}

.unipanamericana-microsite .custom-dropdrowns--blue:before {
  background: #1B0F53;
}

.unipanamericana-microsite .custom-dropdrowns--1 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(124.49%, rgba(0, 0, 0, 0)), color-stop(174.27%, rgba(0, 0, 0, 0.47))), #FFFFFF;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 124.49%, rgba(0, 0, 0, 0.47) 174.27%), #FFFFFF;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
          box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
  margin: 15px 0;
  position: relative;
  border-radius: 10px;
}

.unipanamericana-microsite .custom-dropdrowns--1:before {
  content: '';
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 10px 10px;
}

.unipanamericana-microsite .custom-dropdrowns--1.active .dropdown-toogler .button-placeholder:before {
  display: none;
}

.unipanamericana-microsite .custom-dropdrowns--1 .custom-dropdrowns__title {
  font-family: Asap;
  font-size: 22px;
}

.unipanamericana-microsite .custom-dropdrowns--1 .dropdown-toogler .button-placeholder {
  border-radius: 50%;
}

.unipanamericana-microsite .custom-dropdrowns--1 .dropdown-toogler .button-placeholder:hover {
  -webkit-transform: none;
          transform: none;
}

.unipanamericana-microsite .custom-dropdrowns--1 .dropdown-toogler .button-placeholder:after, .unipanamericana-microsite .custom-dropdrowns--1 .dropdown-toogler .button-placeholder:before {
  content: '';
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
}

.unipanamericana-microsite .custom-dropdrowns--1 .dropdown-toogler .button-placeholder:after {
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.unipanamericana-microsite .custom-dropdrowns--1 .dropdown-toogler .button-placeholder:before {
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
          transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

.unipanamericana-microsite .custom-dropdrowns--2 {
  border-bottom: 2px solid #D1D1D1;
  border-top: 2px solid #D1D1D1;
  margin-top: -2px;
}

.unipanamericana-microsite .custom-dropdrowns--2:hover .dropdown-toogler .button-placeholder {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.unipanamericana-microsite .custom-dropdrowns--2.active:hover .dropdown-toogler .button-placeholder {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.unipanamericana-microsite .custom-dropdrowns--2.active .custom-dropdrowns__container {
  padding-bottom: 30px;
  padding-left: 40px;
}

.unipanamericana-microsite .custom-dropdrowns--2.active .dropdown-toogler .button-placeholder:after, .unipanamericana-microsite .custom-dropdrowns--2.active .dropdown-toogler .button-placeholder:before {
  background: #B47BC1;
}

.unipanamericana-microsite .custom-dropdrowns--2.active .dropdown-toogler .button-placeholder:after {
  -webkit-transform: translateY(-50%) translateX(calc(50% - 6px)) rotate(135deg);
          transform: translateY(-50%) translateX(calc(50% - 6px)) rotate(135deg);
}

.unipanamericana-microsite .custom-dropdrowns--2.active .dropdown-toogler .button-placeholder:before {
  -webkit-transform: translateY(-50%) translateX(calc(50% + 6px)) rotate(45deg);
          transform: translateY(-50%) translateX(calc(50% + 6px)) rotate(45deg);
}

.unipanamericana-microsite .custom-dropdrowns--2 .custom-dropdrowns__title h5 {
  font-family: Roboto;
  font-size: 16px;
  color: #000000;
  text-align: left;
  width: 100%;
  padding-left: 20px;
}

.unipanamericana-microsite .custom-dropdrowns--2 .custom-dropdrowns__title .icon {
  width: 25px;
  height: 25px;
  margin-left: -15px;
  margin-right: 10px;
  border: #6A1F7C 3px solid;
  border-radius: 50%;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.unipanamericana-microsite .custom-dropdrowns--2 .custom-dropdrowns__title .icon:after, .unipanamericana-microsite .custom-dropdrowns--2 .custom-dropdrowns__title .icon:before {
  content: '';
  background: #6A1F7C;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
}

.unipanamericana-microsite .custom-dropdrowns--2 .custom-dropdrowns__title .icon:after {
  height: 7px;
  -webkit-transform: translateY(calc(-50% + 3px)) translateX(calc(-50%));
          transform: translateY(calc(-50% + 3px)) translateX(calc(-50%));
}

.unipanamericana-microsite .custom-dropdrowns--2 .custom-dropdrowns__title .icon:before {
  height: 3px;
  -webkit-transform: translateY(calc(-50% - 4px)) translateX(calc(-50%));
          transform: translateY(calc(-50% - 4px)) translateX(calc(-50%));
}

.unipanamericana-microsite .custom-dropdrowns--2 .dropdown-toogler .button-placeholder:after, .unipanamericana-microsite .custom-dropdrowns--2 .dropdown-toogler .button-placeholder:before {
  content: '';
  width: 20px;
  height: 5px;
  border-radius: 5px;
  background: #6A1F7C;
  position: absolute;
  left: 50%;
  top: 50%;
}

.unipanamericana-microsite .custom-dropdrowns--2 .dropdown-toogler .button-placeholder:after {
  -webkit-transform: translateY(-50%) translateX(calc(50% + 6px)) rotate(135deg);
          transform: translateY(-50%) translateX(calc(50% + 6px)) rotate(135deg);
}

.unipanamericana-microsite .custom-dropdrowns--2 .dropdown-toogler .button-placeholder:before {
  -webkit-transform: translateY(-50%) translateX(calc(50% - 6px)) rotate(45deg);
          transform: translateY(-50%) translateX(calc(50% - 6px)) rotate(45deg);
}

.unipanamericana-microsite .custom-dropdrowns--3 {
  -webkit-box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
          box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
  background: #FDFDFD;
  border-radius: 10px;
  padding: 0;
  margin-bottom: 30px;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title {
  padding: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__img-container {
  width: 50%;
  height: 340px;
  background-size: cover;
  background-position: right;
  border-radius: 10px 0 0 10px;
  position: relative;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__img-container:after {
  content: '';
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 10px;
  background: black;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading {
  width: 50%;
  height: 100%;
  padding: 20px 60px;
  padding-bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading .heading {
  height: 165px;
  border-bottom: 1px solid #E4E4E4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading p:not(.heading) {
  text-transform: none;
  margin: 20px 0;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading .dropdown-toogler {
  position: absolute;
  bottom: 5px;
  right: 25%;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading .dropdown-toogler .button-placeholder {
  text-align: center;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading .dropdown-toogler .button-placeholder:after, .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading .dropdown-toogler .button-placeholder:before {
  content: '';
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background: #F05A1A;
  position: absolute;
  left: 50%;
  top: 50%;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading .dropdown-toogler .button-placeholder:after {
  -webkit-transform: translateY(-50%) translateX(calc(50% + 6px)) rotate(135deg);
          transform: translateY(-50%) translateX(calc(50% + 6px)) rotate(135deg);
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading .dropdown-toogler .button-placeholder:before {
  -webkit-transform: translateY(-50%) translateX(calc(50% - 6px)) rotate(45deg);
          transform: translateY(-50%) translateX(calc(50% - 6px)) rotate(45deg);
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__icon {
  position: absolute;
  right: calc(-85px / 2);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #FDFDFD;
  width: 85px;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__icon__container {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__icon__container img {
  width: 100%;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container {
  margin-top: 50px;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container a {
  text-decoration: none;
  color: #FF6600;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container em {
  font-style: normal;
  color: #FF6600;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .heading--2 {
  margin: 40px 0;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .heading--1 {
  padding-bottom: 30px;
  border-bottom: #E4E4E4 solid 1px;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container ul li {
  margin-bottom: 20px;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container ul li p {
  margin: 0 !important;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container b, .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container strong {
  color: #FF6600 !important;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container ul li:after {
  background: #FF6600;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container ol li::marker {
  color: #FF6600;
  font-weight: bold;
  font-size: 16px;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .special-text p {
  color: #FF6600;
  margin: 20px 0;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .entities-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .entities-logos p {
  width: 24%;
  margin: 0;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .entities-logos p img {
  width: 100%;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .payment-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .banks-block .heading {
  margin-bottom: 10px !important;
  color: #FF6600;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .banks-block p:not(.heading) {
  margin: 0;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container--col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container--col-2__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 30px;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container--col-1 {
  padding: 0 30px;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container__footer {
  margin-top: 30px;
  border-top: #E4E4E4 1px solid;
  padding-top: 30px;
  text-align: center;
}

.unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container__footer p.special-text {
  color: #FF6600;
}

.unipanamericana-microsite .custom-dropdrowns--3--rtl .custom-dropdrowns__title {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.unipanamericana-microsite .custom-dropdrowns--3--rtl .custom-dropdrowns__title__img-container {
  border-radius: 0 10px 10px 0;
}

.unipanamericana-microsite .custom-dropdrowns--3--rtl .custom-dropdrowns__title__img-container:after {
  border-radius: 0 0 10px 0;
}

.unipanamericana-microsite .custom-dropdrowns--3--rtl .custom-dropdrowns__title__icon {
  right: unset;
  left: calc(-85px / 2);
}

.unipanamericana-microsite .custom-dropdrowns--3--rtl .dropdown-toogler {
  right: unset;
  left: calc(25% - 50px);
}

.unipanamericana-microsite .custom-dropdrowns--3--red .custom-dropdrowns__title__icon__container {
  background: #A71931;
  -webkit-box-shadow: 4px 13px 20px rgba(167, 25, 49, 0.4);
          box-shadow: 4px 13px 20px rgba(167, 25, 49, 0.4);
}

.unipanamericana-microsite .custom-dropdrowns--3--red .custom-dropdrowns__title__img-container:after {
  background: #A71931;
}

.unipanamericana-microsite .custom-dropdrowns--3--purple .custom-dropdrowns__title__icon__container {
  background: #6A1F7C;
  -webkit-box-shadow: 4px 13px 20px #CB7EDE;
          box-shadow: 4px 13px 20px #CB7EDE;
}

.unipanamericana-microsite .custom-dropdrowns--3--purple .custom-dropdrowns__title__img-container:after {
  background: #6A1F7C;
}

.unipanamericana-microsite .custom-dropdrowns--3--blue .custom-dropdrowns__title__icon__container {
  background: #1B0E53;
  -webkit-box-shadow: 4px 13px 20px rgba(27, 15, 83, 0.4);
          box-shadow: 4px 13px 20px rgba(27, 15, 83, 0.4);
}

.unipanamericana-microsite .custom-dropdrowns--3--blue .custom-dropdrowns__title__img-container:after {
  background: #1B0E53;
}

.unipanamericana-microsite .custom-dropdrowns--3--orange .custom-dropdrowns__title__icon__container {
  background: -webkit-gradient(linear, left top, left bottom, from(#E7230A), to(rgba(231, 35, 10, 0))), #F05A1A;
  background: linear-gradient(180deg, #E7230A 0%, rgba(231, 35, 10, 0) 100%), #F05A1A;
  -webkit-box-shadow: 4px 13px 20px rgba(240, 90, 26, 0.5);
          box-shadow: 4px 13px 20px rgba(240, 90, 26, 0.5);
}

.unipanamericana-microsite .custom-dropdrowns--3--orange .custom-dropdrowns__title__img-container:after {
  background: #FF6600;
}

.unipanamericana-microsite .custom-dropdrowns--3--yellow .custom-dropdrowns__title__icon__container {
  background: #FFA509;
  -webkit-box-shadow: 4px 13px 20px rgba(167, 25, 49, 0.4);
          box-shadow: 4px 13px 20px rgba(167, 25, 49, 0.4);
}

.unipanamericana-microsite .custom-dropdrowns--3--yellow .custom-dropdrowns__title__img-container:after {
  background: #FFA509;
}

.unipanamericana-microsite .custom-dropdrowns--3.active:hover .dropdown-toogler .button-placeholder {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.unipanamericana-microsite .custom-dropdrowns--3.active .dropdown-toogler .button-placeholder:after {
  -webkit-transform: translateY(-50%) translateX(calc(50% - 6px)) rotate(135deg);
          transform: translateY(-50%) translateX(calc(50% - 6px)) rotate(135deg);
}

.unipanamericana-microsite .custom-dropdrowns--3.active .dropdown-toogler .button-placeholder:before {
  -webkit-transform: translateY(-50%) translateX(calc(50% + 6px)) rotate(45deg);
          transform: translateY(-50%) translateX(calc(50% + 6px)) rotate(45deg);
}

.unipanamericana-microsite .custom-dropdrowns--3:hover .dropdown-toogler .button-placeholder {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.unipanamericana-microsite .custom-table__header {
  background: #1B0F53;
}

.unipanamericana-microsite .custom-table__header p {
  color: white;
  padding: 10px 50px 20px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.unipanamericana-microsite .custom-table table {
  width: 100%;
}

.unipanamericana-microsite .custom-table table thead tr th:last-child,
.unipanamericana-microsite .custom-table table tbody tr th:last-child {
  text-align: right;
  padding-right: 80px;
}

.unipanamericana-microsite .custom-table table thead tr th:first-child,
.unipanamericana-microsite .custom-table table tbody tr th:first-child {
  padding-left: 80px;
}

.unipanamericana-microsite .custom-table table thead tr {
  background: #F4F4F4;
}

.unipanamericana-microsite .custom-table table thead tr th {
  font-family: Roboto;
  font-weight: bold;
  padding: 15px 0;
  font-size: 16px;
  color: #1B0F53;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: normal;
  border-width: 0;
}

.unipanamericana-microsite .custom-table table tbody tr:nth-child(2n) {
  background: #F4F4F4;
}

.unipanamericana-microsite .custom-table table tbody tr th {
  font-family: Roboto;
  font-weight: normal;
  padding: 15px 0;
  font-size: 16px;
  color: #636363;
  width: 22% !important;
  text-align: left;
  text-transform: inherit;
  letter-spacing: normal;
  border-width: 0;
}

.unipanamericana-microsite .custom-table table tbody tr th:first-child {
  font-family: Asap;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  width: 56% !important;
}

.unipanamericana-microsite .table-dropdown .custom-dropdrowns__container {
  padding: 0;
  margin: 0 -50px 0 -50px;
}

.unipanamericana-microsite .main-banner-button-container .primary-button p {
  margin-top: -40px;
  position: relative;
  margin-bottom: 70px;
}

.unipanamericana-microsite .help-section {
  margin-bottom: 60px;
}

.unipanamericana-microsite .help-section h2 {
  color: #FF6600;
}

.unipanamericana-microsite .help-section .help-bubble {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.47))), #F05A1A;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.47) 100%), #F05A1A;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
          box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
  border-radius: 100px;
  padding: 30px 70px;
  padding-left: 50px;
  position: relative;
  max-width: 1440px;
}

.unipanamericana-microsite .help-section .help-bubble__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ef5516), to(#ed4408));
  background: linear-gradient(180deg, #ef5516 0%, #ed4408 100%);
  background-blend-mode: soft-light, normal;
  border-radius: 100px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.unipanamericana-microsite .help-section .help-bubble__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.unipanamericana-microsite .help-section .help-bubble__container__content {
  font-family: Asap;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
  padding-right: 50px;
  padding-left: 90px;
}

.unipanamericana-microsite .help-section .help-bubble__container__content strong {
  color: white;
}

.unipanamericana-microsite .help-section .help-bubble__container__actions {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.unipanamericana-microsite .help-section .help-bubble--financiera {
  margin-top: 20px;
}

.unipanamericana-microsite .help-section .help-bubble--financiera .help-bubble__container__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: unset;
}

.unipanamericana-microsite .help-section .help-bubble--financiera .secondary-button p {
  text-transform: none;
  padding: 15px 25px;
  margin-right: 20px;
}

.unipanamericana-microsite .offer-section .overflowed {
  padding: 130px 0 80px 0;
  margin-top: -100px;
}

.unipanamericana-microsite .offer-section .overflowed .offer-item {
  margin-right: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 300px;
  -webkit-transition: 0.4s cubic-bezier(0.67, -0.01, 0.43, 1) all;
  transition: 0.4s cubic-bezier(0.67, -0.01, 0.43, 1) all;
}

.unipanamericana-microsite .offer-section .overflowed .offer-item img {
  border-radius: 10px;
  width: 100%;
  -webkit-filter: drop-shadow(13px 28px 80px rgba(67, 67, 67, 0.15));
          filter: drop-shadow(13px 28px 80px rgba(67, 67, 67, 0.15));
  padding-bottom: 10px;
  background: #6A1F7C;
}

.unipanamericana-microsite .offer-section .overflowed .offer-item__content p {
  margin-top: 30px;
}

.unipanamericana-microsite .steps-section {
  margin-bottom: 90px;
}

.unipanamericana-microsite .steps-section .overflowed {
  padding: 90px 0;
}

.unipanamericana-microsite .steps-section .overflowed .overflowed-item {
  background: white;
  width: 340px;
  margin-right: 40px;
  padding: 30px 30px 20px;
  -webkit-box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
          box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
  border-radius: 10px;
  position: relative;
  min-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.unipanamericana-microsite .steps-section .overflowed .overflowed-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.unipanamericana-microsite .steps-section .overflowed .overflowed-item:after {
  content: '';
  width: 100%;
  bottom: 0;
  background: #A71931;
  height: 10px;
  position: absolute;
  left: 0;
  border-radius: 0 0 10px 10px;
}

.unipanamericana-microsite .steps-section .overflowed .overflowed-item em {
  font-style: normal;
  color: #A71931;
}

.unipanamericana-microsite .steps-section .overflowed .overflowed-item__icon {
  text-align: center;
  background: #A71931;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-top: -65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FDFDFD;
  font-family: Asap;
  font-weight: bold;
  font-size: 32px;
  border-radius: 100px;
  -webkit-box-shadow: 4px 13px 20px rgba(167, 25, 49, 0.4);
          box-shadow: 4px 13px 20px rgba(167, 25, 49, 0.4);
  margin-bottom: 30px;
}

.unipanamericana-microsite .steps-section .overflowed .overflowed-item__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.unipanamericana-microsite .steps-section .overflowed .overflowed-item__content .heading {
  border-bottom: 1px solid #E4E4E4;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.unipanamericana-microsite .steps-section .overflowed .overflowed-item__content p {
  line-height: 140%;
}

.unipanamericana-microsite .steps-section .overflowed .overflowed-item__content a {
  text-decoration: none;
  color: #A71931;
}

.unipanamericana-microsite .steps-section .overflowed .overflowed-item__content ul li a {
  text-decoration: underline;
  font-family: Roboto;
  font-size: 16px;
}

.unipanamericana-microsite .steps-section .overflowed .overflowed-item__content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.unipanamericana-microsite .steps-section .overflowed .overflowed-item__content__text__text-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.unipanamericana-microsite .steps-section .overflowed .overflowed-item .actions {
  text-align: right;
  font-family: Roboto;
}

.unipanamericana-microsite .steps-section .overflowed .overflowed-item .actions a {
  text-decoration: underline;
}

.unipanamericana-microsite .documents-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.unipanamericana-microsite .documents-zone__column:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.unipanamericana-microsite .documents-zone__column:last-child {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-left: 40px;
}

.unipanamericana-microsite .documents-zone__column:last-child .documents-zone__content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.unipanamericana-microsite .documents-zone__column:last-child .documents-zone__content ul li {
  margin-bottom: 20px;
  margin-top: 0;
  width: 50%;
}

.unipanamericana-microsite .documents-zone__column:last-child .documents-zone__content ul p {
  margin: 0;
}

.unipanamericana-microsite .documents-zone .heading {
  margin-bottom: 30px;
  margin-top: 30px;
}

.unipanamericana-microsite .documents-zone ul li {
  margin: 20px 0;
  padding-right: 40px;
}

.unipanamericana-microsite .financial-zone {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 130px;
}

.unipanamericana-microsite .financial-zone img {
  border-radius: 10px;
  -webkit-filter: drop-shadow(13px 28px 80px rgba(67, 67, 67, 0.15));
          filter: drop-shadow(13px 28px 80px rgba(67, 67, 67, 0.15));
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 55%;
}

.unipanamericana-microsite .financial-zone > p {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.unipanamericana-microsite .financial-zone__content {
  padding: 0;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.unipanamericana-microsite .financial-zone__content .heading {
  margin-bottom: 40px;
  padding: 0;
}

.unipanamericana-microsite .financial-zone__content .primary-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.unipanamericana-microsite .homologation {
  margin-bottom: 100px;
}

.unipanamericana-microsite .homologation .custom-dropdrowns.active .custom-dropdrowns__snippet {
  display: none;
}

.unipanamericana-microsite .homologation .custom-dropdrowns__title h5 {
  text-transform: none;
}

.unipanamericana-microsite .homologation .custom-dropdrowns__snippet {
  padding: 0 40px 20px;
}

.unipanamericana-microsite .homologation .custom-dropdrowns .heading {
  margin: 40px 0;
}

.unipanamericana-microsite .homologation .custom-dropdrowns .heading:first-child {
  margin-top: 0;
}

.unipanamericana-microsite .homologation .custom-dropdrowns__container ul {
  padding-left: 20px;
}

.unipanamericana-microsite .homologation .custom-dropdrowns__container ul li:after {
  background: #1A0F4D;
  left: -20px;
}

.unipanamericana-microsite .homologation .custom-dropdrowns__container .list-two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0;
}

.unipanamericana-microsite .homologation .custom-dropdrowns__container .list-two-columns__column {
  padding-left: 20px;
}

.unipanamericana-microsite .homologation .custom-dropdrowns__container .list-two-columns li {
  padding-right: 40px;
}

.unipanamericana-microsite .homologation .custom-dropdrowns__container .list-two-columns li p {
  margin-top: 0;
  margin-bottom: 20px;
}

.unipanamericana-microsite .sena-bubble {
  margin-bottom: 130px;
  background: #FF6600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 100px 20px 100px;
}

.unipanamericana-microsite .sena-bubble__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.unipanamericana-microsite .sena-bubble__icon img {
  border-radius: 200px;
  border: 5px white solid;
}

.unipanamericana-microsite .sena-bubble__container {
  padding-left: 130px;
}

.unipanamericana-microsite .sena-bubble__container .heading {
  color: white;
  padding-left: 15px;
  border-left: 2px solid white;
}

.unipanamericana-microsite .sena-bubble__container__content {
  color: white;
  font-size: 22px;
  line-height: 25px;
  margin: 50px 0;
}

.unipanamericana-microsite .sena-bubble__container__content strong {
  color: white;
}

.unipanamericana-microsite .advantages-section .overflowed {
  padding: 60px 0 120px 0;
}

.unipanamericana-microsite .advantages-section .overflowed .card-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 340px;
  height: 370px;
  margin-right: 25px;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
          box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
  position: relative;
}

.unipanamericana-microsite .advantages-section .overflowed .card-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.unipanamericana-microsite .advantages-section .overflowed .card-item:after {
  content: '';
  width: 100%;
  height: 10px;
  border-radius: 0 0 10px 10px;
  background: #A71931;
  bottom: 0;
  left: 0;
  position: absolute;
}

.unipanamericana-microsite .advantages-section .overflowed .card-item img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.unipanamericana-microsite .advantages-section .overflowed .card-item__content {
  padding: 20px 30px;
  padding-bottom: 40px;
}

.unipanamericana-microsite .advantages-section .overflowed .card-item__content .heading {
  margin: 0;
  font-size: 16px;
}

.unipanamericana-microsite .advantages-section .overflowed .card-item__content .heading em {
  color: #A71931;
  font-style: normal;
}

.unipanamericana-microsite .calendar {
  margin-bottom: 200px;
}

.unipanamericana-microsite .faq {
  margin-bottom: 400px;
}

.unipanamericana-microsite .zona-financiera {
  padding: 0 40px;
}

@media screen and (max-width: 1200px) {
  .unipanamericana-microsite .help-section .help-bubble__icon {
    top: 72px;
  }
  .unipanamericana-microsite .help-section .help-bubble__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__img-container {
    width: 100%;
    background-position: top;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading {
    width: 100%;
    padding-bottom: 40px;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading .heading {
    height: auto;
    padding: 30px 0;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading p:not(.heading) {
    font-size: 16px;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading .dropdown-toogler {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container {
    margin-top: 50px;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container a {
    text-decoration: none;
    color: #FF6600;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container em {
    font-style: normal;
    color: #FF6600;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .heading--2 {
    margin: 40px 0;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .heading--1 {
    padding-bottom: 30px;
    border-bottom: #E4E4E4 solid 1px;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container ul li:after {
    background: #FF6600;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .special-text p {
    color: #FF6600;
    margin: 20px 0;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .entities-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .entities-logos img {
    width: 24%;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .banks-block .heading {
    margin-bottom: 10px !important;
    color: #FF6600;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .banks-block p:not(.heading) {
    margin: 0;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container--col-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container--col-2__column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 30px;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container--col-1 {
    padding: 0 30px;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container__footer {
    margin-top: 30px;
    border-top: #E4E4E4 1px solid;
    padding-top: 30px;
    text-align: center;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container__footer p.special-text {
    color: #FF6600;
  }
}

@media screen and (max-width: 1100px) {
  .unipanamericana-microsite .custom-dropdrowns {
    padding: 0 20px;
  }
  .unipanamericana-microsite .custom-dropdrowns .custom-dropdrowns__container {
    padding: 0 20px;
  }
  .unipanamericana-microsite .custom-dropdrowns .custom-dropdrowns__snippet {
    padding: 20px;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__img-container {
    width: 100%;
    background-position: top;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading {
    width: 100%;
    padding-bottom: 40px;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading .heading {
    height: auto;
    padding: 30px 0;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading p:not(.heading) {
    font-size: 16px;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading .dropdown-toogler {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container {
    margin-top: 50px;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container a {
    text-decoration: none;
    color: #FF6600;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container em {
    font-style: normal;
    color: #FF6600;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .heading--2 {
    margin: 40px 0;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .heading--1 {
    padding-bottom: 30px;
    border-bottom: #E4E4E4 solid 1px;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container ul li:after {
    background: #FF6600;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .special-text p {
    color: #FF6600;
    margin: 20px 0;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .entities-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .entities-logos img {
    width: 24%;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .banks-block .heading {
    margin-bottom: 10px !important;
    color: #FF6600;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container .banks-block p:not(.heading) {
    margin: 0;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container--col-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container--col-2__column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 30px;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container--col-1 {
    padding: 0 30px;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container__footer {
    margin-top: 30px;
    border-top: #E4E4E4 1px solid;
    padding-top: 30px;
    text-align: center;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container__footer p.special-text {
    color: #FF6600;
  }
  .unipanamericana-microsite .documents-zone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .unipanamericana-microsite .documents-zone__column {
    width: 100%;
  }
  .unipanamericana-microsite .documents-zone__column:last-child {
    padding: 0;
  }
  .unipanamericana-microsite .financial-zone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .unipanamericana-microsite .financial-zone img {
    width: 100%;
  }
  .unipanamericana-microsite .financial-zone__content {
    padding: 0;
  }
  .unipanamericana-microsite .sena-bubble {
    padding: 50px 50px 20px 50px;
  }
  .unipanamericana-microsite .sena-bubble__container {
    padding-left: 80px;
  }
  .unipanamericana-microsite .table-dropdown .custom-dropdrowns__container {
    padding: 0;
    margin: 0 -20px 0 -20px;
  }
}

@media screen and (max-width: 900px) {
  .unipanamericana-microsite .custom-table table tbody tr th:first-child {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .unipanamericana-microsite .main-banner-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .unipanamericana-microsite .help-section .help-bubble__icon {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 40px;
  }
  .unipanamericana-microsite .help-section .help-bubble__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .unipanamericana-microsite .help-section .help-bubble__container__content {
    padding-left: 0;
    padding-top: 90px;
    padding-right: 0;
    text-align: center;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container--col-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .unipanamericana-microsite .sena-bubble {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .unipanamericana-microsite .sena-bubble__container {
    padding-left: 0px;
  }
  .unipanamericana-microsite .custom-table__header p {
    padding: 10px 20px 20px;
  }
  .unipanamericana-microsite .custom-table table thead tr th:last-child,
  .unipanamericana-microsite .custom-table table tbody tr th:last-child {
    padding-right: 20px;
  }
  .unipanamericana-microsite .custom-table table thead tr th:first-child,
  .unipanamericana-microsite .custom-table table tbody tr th:first-child {
    padding-left: 20px;
  }
  .unipanamericana-microsite .custom-table table thead tr th {
    font-size: 14px;
  }
  .unipanamericana-microsite .custom-table table tbody tr th:first-child {
    width: 8% !important;
    padding-right: 20px;
  }
}

@media screen and (max-width: 660px) {
  .unipanamericana-microsite .help-section .help-bubble--financiera {
    padding-bottom: 50px;
  }
  .unipanamericana-microsite .help-section .help-bubble--financiera .help-bubble__container__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .unipanamericana-microsite .help-section .help-bubble--financiera .help-bubble__container__actions p {
    margin: 0;
    margin-bottom: 20px;
  }
  .unipanamericana-microsite .zona-financiera {
    padding: 0;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 {
    margin-bottom: 70px;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading {
    padding: 20px;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__heading .heading {
    height: auto;
    font-size: 25px;
    line-height: initial;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container--col-2__column {
    padding: 0;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__container--col-1 {
    padding: 0;
  }
  .unipanamericana-microsite .custom-dropdrowns--3 .custom-dropdrowns__title__icon {
    left: 50%;
    right: unset;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: calc(-85px / 2);
  }
  .unipanamericana-microsite .custom-dropdrowns--3--rtl .custom-dropdrowns__title__icon {
    left: 50%;
    right: unset;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: calc(-85px / 2);
  }
  .unipanamericana-microsite .outer-button-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .unipanamericana-microsite .outer-button-container a p {
    min-width: unset;
    padding: 20px 30px;
  }
}

@media screen and (max-width: 430px) {
  .unipanamericana-microsite p {
    font-size: 14px;
  }
  .unipanamericana-microsite .secondary-button > p {
    padding: 15px 30px;
  }
  .unipanamericana-microsite .help-section .help-bubble {
    padding: 10px 20px;
  }
  .unipanamericana-microsite .help-section .help-bubble--financiera {
    padding-bottom: 50px;
  }
  .unipanamericana-microsite .help-section .help-bubble__icon {
    top: 15px;
  }
  .unipanamericana-microsite .help-section .help-bubble__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .unipanamericana-microsite .help-section .help-bubble__container__content {
    font-size: 14px;
  }
  .unipanamericana-microsite .custom-dropdrowns {
    padding: 0 20px;
  }
  .unipanamericana-microsite .custom-dropdrowns .custom-dropdrowns__container {
    padding: 0;
  }
  .unipanamericana-microsite .custom-dropdrowns .custom-dropdrowns__snippet {
    padding: 0;
    padding-bottom: 20px;
  }
  .unipanamericana-microsite .documents-zone__column:last-child .documents-zone__content ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: unset;
            flex-flow: unset;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .unipanamericana-microsite .documents-zone__column:last-child .documents-zone__content ul li {
    width: 100%;
  }
  .unipanamericana-microsite .financial-zone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .unipanamericana-microsite .financial-zone img {
    width: 100%;
  }
  .unipanamericana-microsite .financial-zone__content > div {
    text-align: center;
  }
  .unipanamericana-microsite .financial-zone__content .primary-button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=microsite copy.css.map */