@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
main.template-page.content.av-content-full.alpha.units {
	padding-top: 0;
}
body {
	overflow-x: hidden;
	max-width: 1200px;
	margin: 0 auto;
}
button a {
	color: inherit;
	text-decoration: none;
}
.unipanamericana-microsite {
	background: #f9f9f9;
}
.unipanamericana-microsite .primary-button button br, .unipanamericana-microsite .secondary-button button br, .unipanamericana-microsite a br {
	display: none;
}
.unipanamericana-microsite a {
	transition: all 0.3s ease;
}
.unipanamericana-microsite a:hover {
	transform: translateY(-10px);
}
.unipanamericana-microsite button:focus, .unipanamericana-microsite button:active {
	outline: none;
}
.unipanamericana-microsite h2, .unipanamericana-microsite h6 {
	font-family: Asap !important;
	font-weight: 700 !important;
	font-size: 17px;
	padding-left: 15px;
	color: #000 !important;
	letter-spacing: 0 !important;
	text-transform: uppercase;
}
.unipanamericana-microsite h3 {
	font-family: Asap;
	font-weight: bold;
	font-size: 22px;
	color: #000;
}
.unipanamericana-microsite h4 {
	font-family: Asap;
	font-weight: bold;
	font-size: 17px;
	line-height: 19px;
	text-transform: uppercase;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 30px;
	padding-bottom: 10px;
	color: #000;
	min-height: 75px;
}
.unipanamericana-microsite h4 strong {
	color: #FF6600;
}
.unipanamericana-microsite p {
	font-family: Roboto;
	font-weight: normal;
	font-size: 16px;
	color: #636363;
}
.unipanamericana-microsite .primary-button button, .unipanamericana-microsite .secondary-button button {
	border: none;
	font-family: Asap;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 1s ease;
}
.unipanamericana-microsite .primary-button button:hover, .unipanamericana-microsite .secondary-button button:hover {
	transform: translateY(-10px);
}
.unipanamericana-microsite .primary-button button {
	background: #FF6600;
	border-radius: 50px;
	padding: 20px 70px;
	box-shadow: 4px 13px 20px rgba(240, 90, 26, 0.5);
	color: #fff;
	text-shadow: 1px -1px 0px rgba(0, 0, 0, 0.35);
}
.unipanamericana-microsite .secondary-button button {
	border: none;
	background: #fff;
	border-radius: 7px;
	padding: 15px 100px;
	box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
	color: #FF6600;
	text-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
}
.unipanamericana-microsite .main-banner-button-container .primary-button {
	margin-top: -40px;
	position: relative;
	margin-bottom: 70px;
}
.unipanamericana-microsite .microsite-main__container {
	margin: 20px auto 80px auto;
	max-width: 1440px;
}
.unipanamericana-microsite .microsite-main__container .container-title {
	padding: 0;
	max-width: 1440px;
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.unipanamericana-microsite .microsite-main__container .container-title .view-more {
	display: none;
}
.unipanamericana-microsite .microsite-main__container .container-title.contains-more .view-more {
	display: flex;
}
.unipanamericana-microsite .microsite-main__container .container-title.contains-more .view-more > * {
	padding: 10px;
	cursor: pointer;
}
.unipanamericana-microsite .microsite-main__container .container-title.contains-more .view-more svg {
	transition: 0.5s ease all;
}
.unipanamericana-microsite .microsite-main__container .container-title.contains-more .view-more svg:hover {
	transform: scale(1.2s);
}
.unipanamericana-microsite .microsite-main__container__content {
	padding: 40px 0;
	margin: 0 auto;
}
.unipanamericana-microsite .microsite-main__container .help-bubble {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.47) 100%), #FF6600;
	background-blend-mode: soft-light, normal;
	box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
	border-radius: 100px;
	padding: 30px 70px;
	padding-left: 50px;
	position: relative;
	max-width: 1440px;
}
.unipanamericana-microsite .microsite-main__container .help-bubble__icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 40px;
	background: linear-gradient(180deg, rgba(239, 85, 22, 1) 0%, rgba(237, 68, 8, 1) 100%);
	background-blend-mode: soft-light, normal;
	border-radius: 100px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.unipanamericana-microsite .microsite-main__container .help-bubble__container {
	display: flex;
	align-items: center;
}
.unipanamericana-microsite .microsite-main__container .help-bubble__container__content {
	font-family: Asap;
	font-size: 22px;
	line-height: 25px;
	color: #fff;
	padding-right: 50px;
	padding-left: 90px;
}
.unipanamericana-microsite .microsite-main__container .help-bubble__container__content strong {
	color: white;
}
.unipanamericana-microsite .microsite-main__container .help-bubble__container__actions {
	flex-shrink: 0;
}
.unipanamericana-microsite .overflowed .microsite-main__container__content {
	display: flex;
	flex-direction: row;
	width: 100%;
	overflow: auto;
}
.unipanamericana-microsite .overflowed .microsite-main__container__content > * {
	flex-shrink: 0;
}
.unipanamericana-microsite .offer-item {
	margin-right: 30px;
	flex-shrink: 0;
	width: 300px;
}
.unipanamericana-microsite .offer-item img {
	border-radius: 10px;
	width: 100%;
	filter: drop-shadow(13px 28px 80px rgba(67, 67, 67, 0.15));
	padding-bottom: 10px;
	background: #6a1f7c;
}
.unipanamericana-microsite .offer-item__content h3 {
	margin-top: 30px;
}
.unipanamericana-microsite .offer-item__content p {
	max-width: 240px;
	margin-top: 10px;
}
.unipanamericana-microsite .step-to-step {
	background: white;
	width: 340px;
	padding: 30px;
	margin: 20px 0;
	padding-top: 70px;
	filter: drop-shadow(13px 28px 80px rgba(67, 67, 67, 0.15));
	border-radius: 10px;
	position: relative;
	margin-right: 40px;
	min-height: 465px;
}
.unipanamericana-microsite .step-to-step__icon {
	background: white;
	border-radius: 100px;
	padding: 10px;
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translateX(-50%);
}
.unipanamericana-microsite .step-to-step__icon > div {
	box-shadow: 4px 13px 20px rgba(240, 90, 26, 0.5);
	background: #FF6600;
	border-radius: 100px;
	width: fit-content;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.unipanamericana-microsite .step-to-step__content p {
	line-height: 140%;
}
.unipanamericana-microsite .step-to-step__content strong {
	color: #FF6600;
}
.unipanamericana-microsite .step-to-step__content__text {
	min-height: 220px;
}
.unipanamericana-microsite .step-to-step__content .actions {
	display: flex;
	justify-content: flex-end;
}
.unipanamericana-microsite .step-to-step__content .actions .view-more {
	display: flex;
}
.unipanamericana-microsite .step-to-step__content .actions .view-more > * {
	padding: 10px;
	cursor: pointer;
	transition: 0.5s ease all;
}
.unipanamericana-microsite .step-to-step__content .actions .view-more > *:hover {
	transform: scale(1.2s);
}
.unipanamericana-microsite .financial-zone {
	position: relative;
	width: 100%;
	display: flex;
}
.unipanamericana-microsite .financial-zone img {
	border-radius: 10px;
	filter: drop-shadow(13px 28px 80px rgba(67, 67, 67, 0.15));
	flex-shrink: 0;
}
.unipanamericana-microsite .financial-zone > p {
	flex-shrink: 0;
}
.unipanamericana-microsite .financial-zone__content {
	padding: 0 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.unipanamericana-microsite .financial-zone__content h3 {
	margin-bottom: 40px;
	padding: 0;
}
.unipanamericana-microsite .financial-zone__content .primary-button {
	align-self: flex-end;
}
.unipanamericana-microsite .custom-dropdrowns, .unipanamericana-microsite .custom-dropdrowns--style-2 {
	padding: 0 50px;
	cursor: pointer;
}
.unipanamericana-microsite .custom-dropdrowns .custom-dropdrowns__title, .unipanamericana-microsite .custom-dropdrowns--style-2 .custom-dropdrowns__title {
	padding: 30px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.unipanamericana-microsite .custom-dropdrowns .custom-dropdrowns__title h5, .unipanamericana-microsite .custom-dropdrowns--style-2 .custom-dropdrowns__title h5 {
	font-family: Asap;
	font-weight: bold;
	text-transform: uppercase;
	flex: 1;
}
.unipanamericana-microsite .custom-dropdrowns .dropdown-toogler .button-placeholder, .unipanamericana-microsite .custom-dropdrowns--style-2 .dropdown-toogler .button-placeholder {
	width: 45px;
	height: 45px;
	position: relative;
	border: none;
	transition: 1s ease all;
}
.unipanamericana-microsite .custom-dropdrowns strong, .unipanamericana-microsite .custom-dropdrowns--style-2 strong {
	color: #FF6600;
}
.unipanamericana-microsite .custom-dropdrowns {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 124.49%, rgba(0, 0, 0, 0.47) 174.27%), #fff;
	background-blend-mode: soft-light, normal;
	box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
	border-radius: 10px;
	margin: 15px 0;
}
.unipanamericana-microsite .custom-dropdrowns:hover .dropdown-toogler .button-placeholder {
	transform: translateY(-10px);
}
.unipanamericana-microsite .custom-dropdrowns.active .custom-dropdrowns__container {
	padding-bottom: 30px;
	opacity: 1;
	height: auto;
}
.unipanamericana-microsite .custom-dropdrowns .custom-dropdrowns__title {
	background: white;
}
.unipanamericana-microsite .custom-dropdrowns .custom-dropdrowns__title h5 {
	font-size: 22px;
	line-height: 25px;
	color: #FF6600;
}
.unipanamericana-microsite .custom-dropdrowns .custom-dropdrowns__container {
	opacity: 0;
	height: 0;
}
.unipanamericana-microsite .custom-dropdrowns .dropdown-toogler .button-placeholder {
	background: #FF6600;
	box-shadow: 4px 13px 20px rgba(240, 90, 26, 0.5);
	border-radius: 50%;
}
.unipanamericana-microsite .custom-dropdrowns .dropdown-toogler .button-placeholder:hover {
	transform: none;
}
.unipanamericana-microsite .custom-dropdrowns .dropdown-toogler .button-placeholder:after, .unipanamericana-microsite .custom-dropdrowns .dropdown-toogler .button-placeholder:before {
	content: '';
	width: 20px;
	height: 5px;
	border-radius: 5px;
	background: white;
	position: absolute;
	top: 50%;
	left: 50%;
}
.unipanamericana-microsite .custom-dropdrowns .dropdown-toogler .button-placeholder:after {
	transform: translateY(-50%) translateX(-50%);
}
.unipanamericana-microsite .custom-dropdrowns .dropdown-toogler .button-placeholder:before {
	transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
.unipanamericana-microsite .custom-dropdrowns--style-2 {
	border-bottom: 2px solid #d1d1d1;
}
.unipanamericana-microsite .custom-dropdrowns--style-2:hover .dropdown-toogler .button-placeholder {
	transform: translateY(10px);
}
.unipanamericana-microsite .custom-dropdrowns--style-2.active:hover .dropdown-toogler .button-placeholder {
	transform: translateY(-10px);
}
.unipanamericana-microsite .custom-dropdrowns--style-2.active .custom-dropdrowns__container {
	padding-bottom: 30px;
	padding-left: 40px;
}
.unipanamericana-microsite .custom-dropdrowns--style-2.active .dropdown-toogler .button-placeholder:after, .unipanamericana-microsite .custom-dropdrowns--style-2.active .dropdown-toogler .button-placeholder:before {
	background: #878787;
}
.unipanamericana-microsite .custom-dropdrowns--style-2.active .dropdown-toogler .button-placeholder:after {
	transform: translateY(-50%) translateX(calc(50% - 6px)) rotate(135deg);
}
.unipanamericana-microsite .custom-dropdrowns--style-2.active .dropdown-toogler .button-placeholder:before {
	transform: translateY(-50%) translateX(calc(50% + 6px)) rotate(45deg);
}
.unipanamericana-microsite .custom-dropdrowns--style-2:first-child {
	border-top: 2px solid #d1d1d1;
}
.unipanamericana-microsite .custom-dropdrowns--style-2 .custom-dropdrowns__title h5 {
	font-size: 17px;
	line-height: 19px;
	color: #000;
}
.unipanamericana-microsite .custom-dropdrowns--style-2 .custom-dropdrowns__title .icon {
	width: 25px;
	height: 25px;
	margin-left: -40px;
	margin-right: 10px;
	border: #FF6600 3px solid;
	border-radius: 50%;
	position: relative;
}
.unipanamericana-microsite .custom-dropdrowns--style-2 .custom-dropdrowns__title .icon:after, .unipanamericana-microsite .custom-dropdrowns--style-2 .custom-dropdrowns__title .icon:before {
	content: '';
	background: #FF6600;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 3px;
}
.unipanamericana-microsite .custom-dropdrowns--style-2 .custom-dropdrowns__title .icon:after {
	height: 7px;
	transform: translateY(calc(-50% + 3px)) translateX(calc(-50%));
}
.unipanamericana-microsite .custom-dropdrowns--style-2 .custom-dropdrowns__title .icon:before {
	height: 3px;
	transform: translateY(calc(-50% - 4px)) translateX(calc(-50%));
}
.unipanamericana-microsite .custom-dropdrowns--style-2 .dropdown-toogler .button-placeholder:after, .unipanamericana-microsite .custom-dropdrowns--style-2 .dropdown-toogler .button-placeholder:before {
	content: '';
	width: 20px;
	height: 5px;
	border-radius: 5px;
	background: black;
	position: absolute;
	left: 50%;
	top: 50%;
}
.unipanamericana-microsite .custom-dropdrowns--style-2 .dropdown-toogler .button-placeholder:after {
	transform: translateY(-50%) translateX(calc(50% + 6px)) rotate(135deg);
}
.unipanamericana-microsite .custom-dropdrowns--style-2 .dropdown-toogler .button-placeholder:before {
	transform: translateY(-50%) translateX(calc(50% - 6px)) rotate(45deg);
}
.unipanamericana-microsite .custom-dropdrowns-super-container .primary-button {
	float: right;
	margin-top: 40px;
}

.documents-zone {
	display: flex;
} 

.documents-zone h6 {
	padding-left: 17px;
}

.documents-zone__content {

}

.documents-zone__content ul li {
	font-family: 'Roboto';
	margin-bottom: 30px;
	color: #636363;
	list-style: none;
	position: relative;
}

.documents-zone__content ul li:before {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #A71931;
	left: -15px;
	top: 6px;
}

.documents-zone__pregrado {
	flex: 1;
}

.documents-zone__posgrado {
	flex: 1;
}

.documents-zone__escuela-formacion {
	flex: 2;
}

.documents-zone__escuela-formacion ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.documents-zone__escuela-formacion ul li {
	width: 40%;
	margin-right: 10%;
}

.border-violet {
	border-left: 2px solid #1B0E53 !important;

}

.border-purple {
	border-left: 2px solid #6A1F7C !important;

}
z
.border-orange {
	border-left: 2px solid #FF6600 !important;
}

.border-red {
	border-left: 2px solid #A71931 !important;
}

.sena-bubble {
	background: #FF6600;
	padding: 30px 100px 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sena-bubble__icon img {
	border-radius: 120px;
	border: 3px solid white;
}

.sena-bubble__container {
	padding: 0 30px 0 130px;
}
.sena-bubble__container h6 {
	color: white !important;
	border-left: 2px solid white;
	margin-bottom: 30px;
}

.sena-bubble__container p {
	color: white;
	margin-bottom: 50px;
	font-size: 22px;
}

.table__header {
	background: #1B0F53;
}

.table__header p {
	color: white;
	padding: 10px 50px 20px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.admisions-table {
	width: 100%;
}
.admisions-table thead tr {
	background: #F4F4F4;
}

.admisions-table thead tr th{
	font-family: Roboto;
	font-weight: bold;
	padding: 15px 0;
	font-size: 16px;
	color: #1B0F53;
	text-transform: uppercase;
	text-align: left;
}
.admisions-table tbody tr th {
	font-family: Roboto;
	font-weight: normal;
	padding: 15px 0;
	font-size: 16px;
	color: #636363;
	width: 22%;
	text-align: left;

}

.admisions-table tbody tr:nth-child(2n) {
	background: #F4F4F4;
}

.admisions-table tbody tr th:first-child {
	font-family: Asap;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	width: 56%;
}

.admisions-table tbody tr th:last-child,
.admisions-table thead tr th:last-child {
	text-align: right;
	padding-right: 80px;
}

.admisions-table tbody tr th:first-child,
.admisions-table thead tr th:first-child {
	padding-left: 80px;
}