/*
    Scss, css and html format developed by: Unipa.
    
    El primer contenido hace parte de las normas generales de la página que
    permitirán el correcto funcionamiento del micrositio desarrollado.

    Luego todo el contenido incluido está escrito en Scss y es el estilo
    del html también adjunto en la carpeta de este mismo documento.

    Luego de compilar el estilo a css se pasó por https://jsonformatter.org/scss-to-css
    y luego por https://autoprefixer.github.io/ para añadir los prefix neceasarios.
    El resultado se colocó en el css adicional al tema de wordpress desde el admin.

    También se instaló el plugin de Google Fonts para importar Rubik y Asap.

    Dentro de unipanamericana-microsite se encuentra todo el estilo Scss.
    Aquí mismo se redefinen varios elementos base y no deben ser sacados de allí
    para evitar problemas de compatibilidad con el resto del sitio.
*/
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main.template-page.content.av-content-full.alpha.units {
    padding-top: 0;
}

body {
    overflow-x: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

.unipanamericana-microsite {
    background: #F9F9F9;
    .primary-button button ,
    .secondary-button button ,
    a {
        br {
            display: none;
        }
    }
    a {
        transition: all .3s ease;
        &:hover {
            transform: translateY(-10px);
        }
    }
    button {
        &:focus,
        &:active {
            outline: none;
        }
    }
    h2 {
        font-family: Asap !important;
        font-weight: 700!important;
        font-size: 17px;
        padding-left: 15px;
        border-left: 2px solid #F05A1A !important;
        color: #000000 !important;
        letter-spacing: 0 !important;
        text-transform: uppercase;
    }
    h3 {
        font-family: Asap;
        font-weight: bold;
        font-size: 22px;
        color: #000000;
    }
    h4 {
        font-family: Asap;
        font-weight: bold;
        font-size: 17px;
        line-height: 19px;
        text-transform: uppercase;
        border-bottom:  1px solid #E4E4E4;
        margin-bottom: 30px;
        padding-bottom: 10px;
        color: #000000;
        min-height: 75px;
        strong {
            color: #F05A1A;
        }
    }
    p {
        font-family: Rubik;
        font-weight: normal;
        font-size: 16px;
        color: #636363;
    }
    .primary-button,
    .secondary-button {
        button {
            border: none;
            font-family: Asap;
            font-weight: bold;
            font-size: 22px;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 1s ease;
            &:hover {
                transform: translateY(-10px);
            }
        }
    }
    .primary-button button {
        background: #F05A1A;
        border-radius: 50px;
        padding: 20px 70px;
        box-shadow: 4px 13px 20px rgba(240, 90, 26, 0.5);
        color: #FFFFFF;
        text-shadow: 1px -1px 0px rgba(0, 0, 0, 0.35);
    }
    
    .secondary-button button {
        border: none;
        background: #FFFFFF;
        border-radius: 7px;
        padding: 15px 80px;
        box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
        color: #F05A1A;
        text-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
    }

    /* Aquí terminan los estilos de elementos generales
    y comienza el estilo especifico por contenedor*/ 
    .main-banner-button-container .primary-button {
        margin-top: -40px;
        position: relative;
        margin-bottom: 70px;
    }

    .microsite-main__container {
        margin: 20px auto 80px auto;
        max-width: 1440px;
        .container-title {
            padding: 0;
            max-width: 1440px;
            margin: 0 auto;
            box-sizing: border-box;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .view-more {
                display: none;
            }
            &.contains-more .view-more{
                display: block;
                font-family: Asap;
                font-weight: normal;
                font-size: 15px;
                text-align: right;
                text-decoration-line: underline;
                
                color: #878787;
            }
        }
        &__content {
            padding: 40px 0;
            margin: 0 auto;
        }
        .help-bubble {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.47) 100%), #F05A1A;
            background-blend-mode: soft-light, normal;
            box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
            border-radius: 6px;
        
            padding: 30px;
            padding-left: 50px;
            position: relative;
            max-width: 1440px;
            &__icon {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -40px;
                background: linear-gradient(180deg,  rgba(239,85,22,1) 0%, rgba(237,68,8,1) 100%);
                background-blend-mode: soft-light, normal;
                border-radius: 100px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__container {
                display: flex;
                align-items: center;
                &__content{
                    font-family: Asap;
                    font-size: 22px;
                    line-height: 25px;
                    color: #FFFFFF;
                    padding-right: 50px;
                    strong {
                        color: white
                    }
                }
                &__actions {
                    flex-shrink: 0;
                }
            }
        }
    }
    
    .overflowed {
        .microsite-main__container__content{
            display: flex;
            flex-direction: row;
            width: fit-content;
        }
    }
    
    .offer-item {
        margin-right: 30px;
        flex-shrink: 0;
        width: 300px;
        img {
            border-radius: 10px;
            width: 100%;
            filter: drop-shadow(13px 28px 80px rgba(67, 67, 67, 0.15));
        }
        &__content {
            h3 {
                margin-top: 30px;
            }
            p {
                max-width: 240px;
                margin-top: 10px;
            }
        }
    }
    
    
    .step-to-step {
        background: white;
        width: 340px;
        padding: 30px;
        margin: 20px 0;
        padding-top: 70px;
        filter: drop-shadow(13px 28px 80px rgba(67, 67, 67, 0.15));
        border-radius: 10px;
        position: relative;
        margin-right: 40px;
        min-height: 465px;
        &__icon {
            background: white;
            border-radius: 100px;
            padding: 10px;
            position: absolute;
            top: -35px;
            left: 50%;
            transform: translateX(-50%);
            > div {
                box-shadow: 4px 13px 20px rgba(240, 90, 26, 0.5);
                background: #F05A1A;
                border-radius: 100px;
                width: fit-content;
                width: 70px;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &__content {
            p {
                line-height: 140%;
            }
            strong {
                color: #F05A1A;
            }
            &__text {
                min-height: 220px;
            }
            .actions {
                display: flex;
                justify-content: flex-end;
                .view-more {
                    font-family: Asap;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 17px;
                    text-align: right;
                    text-decoration-line: underline;                
                    color: #F05A1A;
                    margin-top: 20px;
                }
            }
        }
    }
    
    
    .financial-zone {
        position: relative;
        width: 100%;
        display: flex;
        img {
            border-radius: 10px;
            filter: drop-shadow(13px 28px 80px rgba(67, 67, 67, 0.15));
            flex-shrink: 0;
        }
        > p {
            flex-shrink: 0;
        }
        &__content {
            padding: 0 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3 {
                margin-bottom: 40px;
                padding: 0;
            }
            .primary-button {
                align-self: flex-end;
            }
        }
    }
    
    .custom-dropdrowns,
    .custom-dropdrowns--style-2 {
        padding: 0 50px;
        cursor: pointer;
        .custom-dropdrowns__title {
            padding: 30px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            h5 {
                font-family: Asap;
                font-weight: bold;
                text-transform: uppercase;
                flex: 1;
            }
        }
        .dropdown-toogler {
            .button-placeholder {
                width: 45px;
                height: 45px;
                position: relative;
                border: none;
                transition: 1s ease all;
            }
        }
        strong {
            color: #F05A1A;
        }
    }
    
    
    .custom-dropdrowns {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 124.49%, rgba(0, 0, 0, 0.47) 174.27%), #FFFFFF;
        background-blend-mode: soft-light, normal;
        box-shadow: 13px 28px 80px rgba(67, 67, 67, 0.15);
        border-radius: 10px;
        margin: 15px 0;
        &:hover {
            .dropdown-toogler .button-placeholder {
                transform: translateY(-10px);
            }
        }
        &.active  {
            .custom-dropdrowns__container {
                padding-bottom: 30px;
                opacity: 1;
                height: auto;
            }
        }
        .custom-dropdrowns__title {
            background: white;
            h5 {
                font-size: 22px;
                line-height: 25px;
                color: #F05A1A;
            }
        }
        .custom-dropdrowns__container {
            opacity: 0;
            height: 0;
        }
        .dropdown-toogler .button-placeholder{
            background: #F05A1A;
            box-shadow: 4px 13px 20px rgba(240, 90, 26, 0.5);
            border-radius: 50%;
            &:hover {
                transform: none;
            }
            &:after,
            &:before {
                content: '';
                width: 20px;
                height: 5px;
                border-radius: 5px;
                background: white;
                position: absolute;
                top: 50%;
                left: 50%;
            }
            &:after {
                transform: translateY(-50%) translateX(-50%);
            }
            &:before {
                transform: translateY(-50%) translateX(-50%) rotate(90deg);
            }
        }
    }
    
    .custom-dropdrowns--style-2 {
        border-bottom: 2px solid #D1D1D1;
        &:hover {
            .dropdown-toogler .button-placeholder {
                transform: translateY(10px);
            }
        }
        &.active {
            &:hover {
                .dropdown-toogler .button-placeholder {
                    transform: translateY(-10px);
                }
            }
            .custom-dropdrowns__container {
                padding-bottom: 30px;
                padding-left: 40px;
            }
            .dropdown-toogler .button-placeholder {
                &:after,
                &:before {

                    background: #878787;
                }
                &:after {
                    transform: translateY(-50%) translateX(calc(50% - 6px)) rotate(135deg);
                }
                &:before {
                    transform: translateY(-50%) translateX(calc(50% + 6px)) rotate(45deg);
                }
            }
        }
        &:first-child {
            border-top: 2px solid #D1D1D1;
        }
        .custom-dropdrowns__title {
            h5 {
                font-size: 17px;
                line-height: 19px;
                color: #000000;
            }
            .icon {
                width: 25px;
                height: 25px;
                margin-left: -40px;
                margin-right: 10px;
                border: #F05A1A 3px solid;
                border-radius: 50%;
                position: relative;
                &:after,
                &:before {
                    content: '';
                    background: #F05A1A;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 3px;
                }
                &:after {
                    height: 7px;
                    transform: translateY(calc(-50% + 3px)) translateX(calc(-50%));
                }
                &:before {
                    height: 3px;
                    transform: translateY(calc(-50% - 4px)) translateX(calc(-50%));
                }
            }
        }
        .dropdown-toogler .button-placeholder {
            &:after,
            &:before {
                content: '';
                width: 20px;
                height: 5px;
                border-radius: 5px;
                background: black;
                position: absolute;
                left: 50%;
                top: 50%;
            }
            &:after {
                transform: translateY(-50%) translateX(calc(50% + 6px)) rotate(135deg);
            }
            &:before {
                transform: translateY(-50%) translateX(calc(50% - 6px)) rotate(45deg);
            }
        }
    }
    
    .custom-dropdrowns-super-container .primary-button {
        float: right;
        margin-top: 40px;
    }
}
